/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */
/* body {
  background-color: #F9FDFE;
  
} */

/* Hide scrollbar but keep scrolling */
body {
  background-color: #F9FDFE;
  overflow-y: scroll; /* Keep scrolling enabled */
}

::-webkit-scrollbar {
  width: 0; /* Hide the scrollbar */
  height: 0; /* Hide the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: transparent; /* Optionally hide the thumb if you want */
}

::-webkit-scrollbar-track {
  background: transparent; /* Optionally hide the track */
}

